[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dggridR"]
	path = dggridR
	url = https://github.com/r-barnes/dggridr
[submodule "webglobe"]
	path = webglobe
	url = https://github.com/r-barnes/webglobe
